/* Google Fonts */
/* Privacy polity: https://developers.google.com/fonts/faq/privacy?hl=it*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* 
* Palette of colors or Layout:
* Any suggestion? Write us on telegram: @polito_appunti 
*/

:root {
  --orange: #ED6D33;
  --blue: #548AF3;
  --light-blue: #3c7dff;
  --dark-blue: #1d5ddf;
  --purple: #C054F3;
  --light-purple: #d18df1;
  --red: #F43D3D;
  --dark-red: #c41d1d;
  --black: #1D1D1D;
  --white: #f5f2f2;
}




* {
  box-sizing: border-box;
}
body, html {
  font-family: 'Lato', sans-serif;
  margin: 0; 
  padding: 0;
  width: 100%;
  height: 100vh;
}