/* Google Fonts */
/* Privacy polity: https://developers.google.com/fonts/faq/privacy?hl=it*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* 
* Palette of colors or Layout:
* Any suggestion? Write us on telegram: @polito_appunti 
*/

:root {
  --orange: #ED6D33;
  --blue: #548AF3;
  --light-blue: #3c7dff;
  --dark-blue: #1d5ddf;
  --purple: #C054F3;
  --light-purple: #d18df1;
  --red: #F43D3D;
  --white: #ffffff;
  --black: #1d1d1d;
  --dark-red: #c41d1d;
  --text-color: #1D1D1D;
  --bg-color: #f5f2f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --orange: #de6026;
    --blue: #4e81e6;
    --light-blue: #2d6ae6;
    --dark-blue: #1d5ddf;
    --purple: #b84aeb;
    --light-purple: #c381e2;
    --red: #e03030;
    --white: #ffffff;
    --black: #1d1d1d;
    --dark-red: #a91818;
    --text-color: #f5f2f2;
    --bg-color: #1D1D1D;
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);

}

ul {
  margin: 0;
  padding: 0;
}