.action-container {
    display: flex;
    flex-direction: row;
    gap: 1.2em;
}

@media screen and (max-width: 768px){
    .action-container {
        flex-direction: column-reverse;
        gap: 1.4em;
    }
}
